:root{
	--accbg: #181;
	--accbga: #032203;
	--acctxt: #8F8;
	--acctxta: #6C6;
	height:100%;
	font-family:Arial;
}
*{
	box-sizing:border-box;
}

body{
	display:grid;
	gap:5px;
	margin:5px;
	background-color:#151515;
	color:#CCC;
	height:calc(100% - 10px);
}

@media (min-aspect-ratio:16/10){
	/*wider than 16:10*/
	body{
		grid-template-areas:
		"i s"
		"i t"
		"i c"
		"i j";
		grid-template-columns:auto 1fr;
		grid-template-rows:auto auto auto 1fr;
	}
	#joystick{
		align-self:end;
		justify-self:end;
	}
	#feed{
		height:100%;
		width:auto;
	}
	/*shelf to store switches inside*/
	.switchbar{
		display:flex;
		flex-direction:column;
		float:right;
	}

}
@media (max-aspect-ratio:16/10){
	/*16:10 and narrower*/
	body{
		grid-template-areas:
		"i i"
		"c j"
		"s s"
		"t t";
		grid-template-rows:auto auto 0fr auto;
	}
	#feed>img{
		max-height:75vh;
	}
	#joystick{
		align-self:start;
		justify-self:end;
	}
	#speedster{
		align-self:start;
	}
	/*shelf to store switches inside*/
	.switchbar{
		display:flex;
		flex-direction:row;
		justify-content:start;
	}
}

#feed{
	grid-area:i;
	position:relative;
}
#feed>img{
	width:100%;
	height:100%;
	object-fit: contain;
	object-position: center;
	border-radius:0.2em;
}
#feed::after{
	content:'';
	display:block;
	position:absolute;
	bottom:0.5em;
	left:0.5em;
	height:2em;
	width:2em;
	border-radius:0.2em;
	background-image:url(../img/connection.svg);
	background-size:calc(100% - 0.6em);
	background-position:0.3em 0.3em;
	background-repeat:no-repeat;
	transition:background-color 0.2s,opacity 0.75s 0.2s ease-in;
}
#feed.noconnection::after{
	background-color:#F44;
	opacity:1;
}
#feed.yesconnection::after{
	background-color:#3A3;
	opacity:0;
}

#speedster{
	grid-area:c;
}
#joystick{
	grid-area:j;
	width:10em;
	height:10em;
	cursor:pointer;
}

#tuning_wrapper{
	grid-area:t;
}

#settings_wrapper{
	grid-area:s;
}

/*details container*/
details{
	border:solid 1px var(--accbg);
	background-color:var(--accbga);
	color:var(--acctxta);
	padding:0 0.5em 0 0.5em;
	border-radius:0.2em;
}
details>summary{
	text-align:center;
	background-color:var(--accbg);
	color:var(--acctxt);
	cursor:pointer;
	margin:0 -0.5em 0 -0.5em;
}
details[open]{
	padding-bottom:0.5em;
}
details[open]>summary{
	border-bottom:solid 1px var(--accbg);
}

/*slider input peripherals*/
.slider{
	display:grid;
	grid-template-areas:
	"h h"
	"i s";
}
.slider>h3{
	grid-area:h;
	margin-left:1em;
	margin-bottom:0.2em;
	margin-top:0.5em;
}
.slider>input{
	grid-area:i;
}
.slider>span{
	grid-area:s;
	background-color:var(--accbg);
	color:var(--acctxt);
	width:3em;
	padding:0.25em 0.5em;
	border-radius:0.25em;
}

/*switch input*/
.switch{
	display:none;
}
.switch+label{
	display:inline-flex;
	align-items:center;
	cursor:pointer;
	margin:0.25em;
}
.switch+label>div{
	display:inline-flex;
	align-items:center;
	height:1.2em;
	width:2.3em;
	border-radius:1em;
	background-color:#0004;
	border:solid 1px var(--accbg);
	margin:0.2em;
	transition:background-color 0.2s;
}
.switch+label>div>div{
	height:0.8em;
	width:0.8em;
	border-radius:1em;
	background-color:var(--accbg);
	margin-left:0.15em;
	transition:margin-left 0.2s, background-color 0.2s;
}
.switch:checked+label>div>div{
	margin-left:1.25em;
	background-color:var(--acctxt);
}
.switch:checked+label>div{
	background-color:var(--accbg);
}
.switch+label>div:hover{
	filter:brightness(1.2);
}

/*slider input*/
input[type=range]{
	height:1.5em;
	margin:0.25em 0.25em 0.25em 0.25em;
	appearance:none;
	background-color:#0000;
	width:calc(100% - 1em);
	cursor:pointer;
}
input[type=range]::-webkit-slider-runnable-track{
	height:0.5em;
	margin:0;
	background-color:var(--accbg);
	border-radius:1em;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance:none;
	background-color:var(--acctxt);
	border:solid 0.2em var(--accbg);
	border-radius:2em;
	height:1.2em;
	width:1.2em;
	margin-top:-0.3em;
}
input[type=range]::-moz-range-track{
	appearance:none;
	height:0.5em;
	margin:0 0.5em;
	background-color:var(--accbg);
	border-radius:1em;
}
input[type=range]::-moz-range-thumb{
	background-color:var(--acctxt);
	border:solid 0.2em var(--accbg);
	border-radius:2em;
}

/*buttons*/
button{
	appearance:none;
	font-size:inherit;
	font-family:inherit;
	background-color:var(--accbg);
	color:var(--acctxt);
	border:none;
	padding:0.5em 1em;
	margin:0.5em;
	border-radius:0.2em;
	cursor:pointer;
}
button:hover{
	filter:brightness(1.2);
}

/*select inputs*/
select{
	appearance:none;
	font-size:inherit;
	color:var(--acctxt);
	border:none;
	background:var(--accbg) url('../img/triangle.svg') no-repeat;
	background-position:center right 0.5em;
	background-size:0.5em;
	padding:0.25em 1.5em 0.25em 0.5em;
	margin:0.2em 0.5em;
	border-radius:0.2em;
	cursor:pointer;
}
select:hover{
	filter:brightness(1.2);
}

/*text stuff*/
h3{
	margin:0.5em 0.2em 0.2em 0.2em;
	font-size:1rem;
}
hr{
	color:var(--accbg)
}

/*corner of shame*/
img,
canvas{
	display:block;/*why??*/
}